@media only screen and (max-width: 630px){
    #servicos h2{
        text-align: center;
    }
    main .area-atuacao{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 90vh;
        padding: 1rem;
        margin-bottom: 15rem;
        margin-top: -7rem;
    }

    .slider {
        width: 100%; /* Ensures it takes full width */
    }
    .area-atuacao-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: visible;
        text-align: center;
        height: 100%;
        max-height: 100%;

        max-width: 100%; /* Ensures it does not overflow the screen */
        padding: 0 1rem; /* Adds some breathing space */
        word-wrap: break-word; /* Ensures long words break correctly */
    }

    .area-atuacao-item img{
        width: 70%;
        height: 50%;
        height: auto;
        margin-right: 0;
    }

    .area-atuacao-item h3{
        font-size: 1.2rem;
        text-align: center;
    }

    .area-atuacao-item p{
        font-size: 1rem;
        margin-left: 0.4rem;
        text-align: center;
    }

    main .area-atuacao ul{
        text-align: center;
        /* list-style: none; */
        font-weight: 500;
    }

    .prev,
    .next {
        position: absolute;
        z-index: 1;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        font-size: 20px;
        max-height: 65%;
    }

    .prev { left: 0; }
    .next { right: 0; }
}
