@media only screen and (max-width: 630px){
    nav{
        justify-content: center;
        overflow: hidden;
    }

    nav .nav-image{
        position: relative;
        margin-left: -1rem;
    }

    nav .nav-image img{
        height: 2.5rem;
    }

    nav .nav-list{
        visibility: hidden;
    }
    
}