header{
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 70vh;
    background-image: url(/images/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem;
    color: #fff;

    margin-top: 4rem;
}

header h1{
    margin-bottom: 1rem;
}

header button{
    width: 16rem;
    margin-top: 2rem;
    background-color: #fff;
    color: #000;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s ease;
}